{% extends 'base.html' %}
{% block title %} Main {% endblock %}
{% block content %}
    <div class="container px-4 px-lg-5 mt-5">
        <form class="mb-5" id="form-buscar" action="{% url 'search' %}" method="get">
            {% include 'partial/search_form.html' %}
        </form>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if products %}
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ product.image }}" alt="..."/>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h3 class="fw-bolder">{{ product.name }}</h3>
                                    {% for category in categories %}
                                        {% if category.0 == product.category %}
                                            <h6>{{ category.1 }}</h6>
                                        {% endif %}
                                    {% endfor %}
                                    Цена: {{ product.cost }}₸
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                            href="{% url 'product' product.pk %}">Посмотреть
                                    больше</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% elif error %}
                <h3 class="fw-bolder">{{ error }}</h3>
            {% else %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ product.image }}" alt="..."/>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h3 class="fw-bolder">{{ product.name }}</h3>
                                {% for category in categories %}
                                    {% if category.0 == product.category %}
                                        <h6>{{ category.1 }}</h6>
                                    {% endif %}
                                {% endfor %}
                                Цена: {{ product.cost }}₸
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                        href="{% url 'product' product.pk %}">Посмотреть
                                больше</a></div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}