{% csrf_token %}

<div class="col-12">
    <div class="form-outline">
        {{ form.name }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">Введите название</p>
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <div class="form-outline">
        {{ form.image }}
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">Введите ссылку на изображение</p>
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <div class="form-outline mb-1">
        {{ form.category }}
        {% for error in form.category.errors %}
            <p class="alert alert-danger" role="alert">Введите категорию</p>
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <div class="form-outline ">
        {{ form.description }}
    </div>
</div>

<div class="col-12">
    <div class="form-outline">
        {{ form.qty }}
        {% for error in form.qty.errors %}
            <p class="alert alert-danger" role="alert">Введите количество более нуля</p>
        {% endfor %}
    </div>
</div>
<div class="col-12">
    <div class="form-outline">
        {{ form.cost }}
        {% for error in form.cost.errors %}
            <p class="alert alert-danger" role="alert">Введите цену</p>
        {% endfor %}
    </div>
</div>

<div class="col-12">
    <button type="submit" class="btn btn-primary mt-4">{{ button_text }}</button>
</div>